@import url('https://fonts.googleapis.com/css2?family=lato:ital,wght@0,300;0,600;1,400;1,600&display=swap');

/* HEC color palette */
$noir:  #000000 !default;
$bleuhec:  #002855 !default;
$grisf: #888b8d !default;
$grisp: #d9d9d6 !default;
$bleuf: #0072ce !default;
$bleup: #92c1e9 !default;
$aquaf: #00aec7 !default;
$aquap: #88dbdf !default;
$vertf:  #26d07c !default;
$vertp:   #8fe2b0 !default;
$rougef:  #ff585d !default;
$rougep:  #ffb1bb !default;
$rosef: #eb6fbd !default;
$rosep: #eab8e4 !default;
$jaunef: #f3d03e !default;
$jaunep: #f2f0a1 !default;

$primary:       $bleuhec !default;
$secondary:     $vertf !default;
$success:       $bleuhec !default;
$info:          $aquap !default;
$warning:       $jaunef !default;
$danger:        $rougef !default;
$light:         $grisp !default;
$dark:          $grisf !default;

$font-family-sans-serif:      Lato, sans-serif !default;
$font-family-serif:           Arial, serif !default;  /* Not actually a serif font but whatever */

$font-size-base:              1.25rem !default;
$headings-font-weight:        700 !default;

$h1-font-size: $font-size-base * 2.3;
$h2-font-size: $font-size-base * 1.7;
$h3-font-size: $font-size-base * 1.5;
$h4-font-size: $font-size-base * 1.2;
$h5-font-size: $font-size-base * 1;
$h6-font-size: $font-size-base * 0.8;

$toc-font-size: 1.1rem;
$sidebar-font-size: 1.1rem;
$sidebar-font-size-section: 0.9rem;

$link-color: $bleuf;
$link-hover-color: $bleup;
$code-color: $bleuf;
$code-bg: lighten($bleup, 90%);
$monokai-bg: #2e3440;

$font-family-sans-serif:      Fira Sans Condensed, sans-serif !default;
$font-family-serif:           Barlow, serif !default;  /* Not actually a serif font but whatever */

$font-size-base:              1.15rem !default;
$headings-font-weight:        600 !default;

$h1-font-size: $font-size-base * 2.3;
$h2-font-size: $font-size-base * 1.7;
$h3-font-size: $font-size-base * 1.5;
$h4-font-size: $font-size-base * 1.2;
$h5-font-size: $font-size-base * 1;
$h6-font-size: $font-size-base * 0.8;

$toc-font-size: 1.1rem;
$sidebar-font-size: 1.1rem;
$sidebar-font-size-section: 0.9rem;

$monokai-bg: #92c1e9;


/*-- scss:rules --*/
h2 {
  border-bottom: none;
}


// Home page stuff
.title-block {
  margin: 1em 0;
  border-bottom: 3px solid $gray-200;
  padding-bottom: 1em;
}


// Footer stuff
.nav-footer-left {
  text-align: left;
}

.nav-footer-right {
  text-align: right;
}


// Schedule stuff
.content-title {
  font-weight: 700;
}


// Content page stuff
// Date bar


// Slightly larger buttons
p a.btn, .buttons span.btn {
  font-size: 1.2rem;
}

// No space after lists-within-lists
main {
  ol ol,
  ul ul,
  ol ul,
  ul ol {
    margin-bottom: 0em;
  }
}


#toc-title {
  font-weight: 700;
}




// Code stuff
// Shrink blocks of code
pre.text, pre.sourceCode, .cell-output pre {
  font-size: 0.775em;
}

// Slight bottom margin to output
.cell-output {
  margin: 0 0 1em;
}

// Remove margin on pre in output
.cell-output pre {
  margin-bottom: 0;
  color: #ffffff;
}

// Format output and plain text blocks like code
.cell-output, pre.text {
  border: none;
  padding: .4em;
  background-color: $monokai-bg;
  border: 1px solid $monokai-bg;
  border-radius: .25rem;
}

pre.text {
  color: #ffffff;
}

p {
  text-align: justify;
}
